<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
  <div class="container">
    <a routerLink="/" class="navbar-brand">
      Country Comparasion
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#mobile-nav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      *ngIf="isAuthenticated()"
      class="collapse navbar-collapse text-white"
      id="mobile-nav"
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="text-white text-center nav-link">
            Hi, {{ user }}
          </a>
        </li>
        <li class="nav-item">
          <a href="#" (click)="logout()" class="nav-link">
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
