<div class="row">
  <div class="col-md-7 order-last order-md-first info">
    <div class="d-flex flex-column justify-content-around info-wrapper">
      <country-comparasion
        [isSelected]="isSelected"
        [mostPopulated]="mostPopulated"
        [leastPopulated]="leastPopulated"
        [difference]="difference"
      ></country-comparasion>
    </div>
  </div>

  <div class="col-md-5 pt-3 list">
    <h4 class="text-center pb-2">
      <strong>Country List</strong>
    </h4>
    <div class="my-2">
      <input
        placeholder="&#xF002; Search"
        style="font-family:Arial, FontAwesome"
        class="form-control search-input"
        type="search"
        [(ngModel)]="searchText"
        (input)="searchThis()"
      />

      <ul class="country-list">
        <li *ngFor="let country of filteredCountries">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input checkmark"
              type="checkbox"
              name="filteredCountries"
              value="{{ country.name }}"
              [(ngModel)]="country.checked"
              (change)="checkThis()"
              [disabled]="isDisabled(country)"
            />
            <label>{{ country.name }}</label>
          </div>
        </li>
      </ul>

      <div class="d-flex flex-column align-items-center">
        <a class="btn btn-info btn-lg compare-btn" (click)="compareCountries()">
          Compare
        </a>
        <strong>{{ compareError }}</strong>
      </div>
    </div>
  </div>
</div>

<country-chart
  [isSelected]="isSelected"
  [selectedCountries]="selectedCountries"
  [mostPopulated]="mostPopulated"
></country-chart>
